<!--Newsletter Section six start-->
<div class="ed_newsletter_section">
<div class="ed_img_overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12">
				<div class="row">
					<div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
						<div class="ed_newsletter_section_heading">
							<h4>Let us inform you about everything important directly.</h4>
						</div>
					</div>
					<div class="col-lg-5 col-md-5 col-sm-6 col-xs-6 col-lg-offset-0 col-md-offset-0 col-sm-offset-3 col-xs-offset-3">
						<div class="row">
							<div class="ed_newsletter_section_form">
								<form class="form">
									<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
										<input class="form-control" type="text" placeholder="Newsletter Email" />
									</div>
									<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
										<button class="btn ed_btn ed_green">confirm</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
        </div>
	</div>
</div>
<!--Newsletter Section six end-->
<!--Footer Top section start-->
<div class="ed_footer_wrapper">
	<div class="ed_footer_top">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-12">
					<div class="widget text-widget">
						<p><a href="index.html"><img src="{{url_for('static', filename='images/header/Logo.png')}}" alt="Footer Logo" /></a></p>
						<p>SchoolShell Learn is an outstanding online learning platform helping students accross board to learn with ease. It makes learning exciting. It also provides skill acquisition platform for student. 
						</p>
						<div class="ed_sociallink">
						<ul>
							<li><a href="#" data-toggle="tooltip" data-placement="bottom" title="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
							<li><a href="#" data-toggle="tooltip" data-placement="bottom" title="Google+"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
							<li><a href="#" data-toggle="tooltip" data-placement="bottom" title="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
							<li><a href="#" data-toggle="tooltip" data-placement="bottom" title="Linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
							<li><a href="#" data-toggle="tooltip" data-placement="bottom" title="Whatsapp"><i class="fa fa-whatsapp" aria-hidden="true"></i></a></li>
						</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-12">
					<div class="widget text-widget">
						<h4 class="widget-title">find us</h4>
						<p><i class="fa fa-safari"></i>Suite D60, Efab Mall, Garki, Abuja <br/>Nigeria</p>
						<p><i class="fa fa-envelope-o"></i><a href="#">info@schoolshell.com</a> <a href="#">info@schoolshell.com</a></p>
						<p><i class="fa fa-phone"></i> 08027276595, 08077500230</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-12">
					<div class="widget text-widget">
						<h4 class="widget-title">social media</h4>
						<p><strong>@schoolshell </strong> We are revolutionalising education in Nigeria<a href=""> </a><br/>2 days ago</p>
						
						<p><strong>@schoolshell </strong> Everybody in Nigeria deserves convenient access to quality Education<a href=""></a><br/>5 days ago</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--Footer Top section end-->
<!--Footer Bottom section start-->
<div class="ed_footer_bottom">
	<div class="container">
		<div class="col-lg-12 col-md-12 col-sm-12">
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
				<div class="ed_copy_right">
					<p>&copy; Copyright 2018, All Rights Reserved, <a href="#">SchoolShell</a></p>
				</div>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
				<div class="ed_footer_menu">
						<ul>
							<li><a href="index.html">home</a></li>
							<li><a href="private_policy.html">private policy</a></li>
							<li><a href="about.html">about</a></li>
							<li><a href="contact.html">contact us</a></li>
						</ul>
				</div>
			</div>
		</div>
		</div>
	</div>
</div>
<!--Footer Bottom section end-->
</div>
<!--Page main section end-->
<!--main js file start--> 
<script type="text/javascript" src="{{ url_for('static', filename='js/modernizr.js')}}"></script> 
<script type="text/javascript" src="{{ url_for('static', filename='js/owl.carousel.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/smooth-scroll.js')}}"></script> 
<script type="text/javascript" src="{{ url_for('static', filename='js/plugins/revel/jquery.themepunch.tools.min.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/plugins/revel/jquery.themepunch.revolution.min.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/plugins/revel/revolution.extension.layeranimation.min.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/plugins/revel/revolution.extension.navigation.min.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/plugins/revel/revolution.extension.slideanims.min.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/plugins/countto/jquery.countTo.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/plugins/countto/jquery.appear.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/custom.js')}}"></script> 

<!--main js file end-->


<script type="application/javascript">
	$(document).ready(function() { 
		$('#login-btn').click(function(e) { //alert('submitted');
			e.preventDefault();
			var email = $('form[name=login_form] input[name=email]').val();
			var password = $('form[name=login_form] input[name=password]').val();

			$.ajax({
            url:'/student/login', 
            data:{email: email, password: password}, 
            type: "post", 
            async: false, 
            error: function(xhr, textStatus, errorThrown) {
                console.log(xhr.responseText);
                result = 0;
                //alert(xhr.responseText);
            },
            success: function(response) { //alert(data);
            	response = JSON.parse(response);
              	console.log(response.message);
              	if(response.status=='OK') { //login successfull
              		window.location.href = "/";
              	}
              	if(response.status=='ERROR') { //login unsuccessfull
	              	$('form[name=login_form] #login-error').css({"display":"block","margin-bottom":"5px"});
	              	$('form[name=login_form] #login-error p').html(response.message);
	            }
            }
        })//ajax ends here

			//return false;
		})
	})
</script>
</body>
</html>