<div class="ed_slider_form_section">
<!--Slider start-->
	<section class="ed_mainslider">
		<article class="content">
			<div class="rev_slider_wrapper">			
				<!-- START REVOLUTION SLIDER 5.0 auto mode -->
				<div id="rev_slider_4_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="classicslider1" style="margin:0px auto;background-color:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
				<div id="rev_slider" class="rev_slider "  data-version="5.0">
					<ul>	
						<!-- SLIDE  -->
						<li data-transition="slotslide-horizontal">
							
							<!-- MAIN IMAGE -->
							<img src="http://placehold.it/1920X1080"  alt="">
							<div class="ed_course_single_image_overlay"></div>

							<!-- LAYER NR. 1 -->
								<div class="tp-caption NotGeneric-Title   tp-resizeme rs-parallaxlevel-0" 

									 data-x="['left','left','left','left']" data-hoffset="['45','60','60','40']" 
									data-y="['top','top','top','top']" data-voffset="['170','175','155','115']" 
									
									
									
									data-width="none"
									data-height="none"
									data-whitespace="nowrap"
									data-transform_idle="o:1;"
						 
									 data-transform_in="x:-50px;skX:100px;opacity:0;s:2000;e:Power4.easeInOut;" 
									 data-transform_out="s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
									data-start="1510" 
									data-splitin="none" 
									data-splitout="none" 
									data-responsive_offset="on" 

									data-elementdelay="0.05" 
									
									style="z-index: 5; white-space: nowrap; font-size: 50px; color:#fff;    font-family: 'Trirong', serif;">We help students reach their life goals
								</div>
								<div class="tp-caption NotGeneric-Title   tp-resizeme rs-parallaxlevel-0" 
						
									data-x="['left','left','left','left']" data-hoffset="['45','60','60','40']" 
									data-y="['top','top','top','top']" data-voffset="['230','215','180','170']" 
									
									data-width="none"
									data-height="none"
									data-whitespace="nowrap"
									data-transform_idle="o:1;"
						 
									 data-transform_in="x:-50px;skX:100px;opacity:0;s:2000;e:Power4.easeInOut;" 
									 data-transform_out="s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
									data-start="1810" 
									data-splitin="none" 
									data-splitout="none" 
									data-responsive_offset="on" 

									data-elementdelay="0.05" 
									
									style="z-index: 5; white-space: nowrap; font-size: 50px; color:#fff;     font-family: 'Trirong', serif;">faster and more efficiently.
								</div>

								<!-- LAYER NR. 2 -->
								<div class="tp-caption NotGeneric-CallToAction ed_btn ed_green tp-resizeme rs-parallaxlevel-0" 
									 							 
									 data-x="['left','left','left','left']" data-hoffset="['50','65','65','45']" 
									 data-y="['top','top','top','top']" data-voffset="['350','276','226','151']" 
									 
									data-whitespace="nowrap"
									data-transform_idle="o:1;"
						 
									 data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
									 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
									 data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
									 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
									data-start="2000" 
									data-splitin="none" 
									data-splitout="none" 
									data-responsive_offset="on" 
	
									style="z-index: 7; white-space: nowrap; ">see more
								</div>
								
						</li>
						<li data-transition="slotslide-vertical">
							
							<!-- MAIN IMAGE -->
							<img src="http://placehold.it/1920X1080"  alt="">
							<div class="ed_course_single_image_overlay"></div>

							<!-- LAYER NR. 1 -->
								<div class="tp-caption NotGeneric-Title   tp-resizeme rs-parallaxlevel-0" 

									 data-x="['left','left','left','left']" data-hoffset="['45','60','60','40']" 
									data-y="['top','top','top','top']" data-voffset="['170','175','155','115']" 
									
									
									
									data-width="none"
									data-height="none"
									data-whitespace="nowrap"
									data-transform_idle="o:1;"
						 
									 data-transform_in="x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;" 
									 data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
									 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" 
									data-start="1510" 
									data-splitin="none" 
									data-splitout="none" 
									data-responsive_offset="on" 

									data-elementdelay="0.05" 
									
									style="z-index: 5; white-space: nowrap; font-size: 50px; color:#fff;     font-family: 'Trirong', serif;">When you come and we make sure
								</div>
								<div class="tp-caption NotGeneric-Title   tp-resizeme rs-parallaxlevel-0" 
						
									data-x="['left','left','left','left']" data-hoffset="['45','60','60','40']" 
									data-y="['top','top','top','top']" data-voffset="['230','215','180','170']" 
									
									data-width="none"
									data-height="none"
									data-whitespace="nowrap"
									data-transform_idle="o:1;"
						 
									 data-transform_in="x:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;" 
									 data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
									 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" 
									data-start="1810" 
									data-splitin="none" 
									data-splitout="none" 
									data-responsive_offset="on" 

									data-elementdelay="0.05" 
									
									style="z-index: 5; white-space: nowrap; font-size: 50px; color:#fff;    font-family: 'Trirong', serif;">you are happy....
								</div>

								<!-- LAYER NR. 2 -->
								<div class="tp-caption NotGeneric-CallToAction ed_btn ed_green tp-resizeme rs-parallaxlevel-0" 
								 
									 
									 data-x="['left','left','left','left']" data-hoffset="['45','60','60','40']" 
									 data-y="['top','top','top','top']" data-voffset="['350','276','226','151']" 
									 
									data-whitespace="nowrap"
									data-transform_idle="o:1;"
						 
									 data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
									 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
									 data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
									 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
									data-start="1500" 
									data-splitin="none" 
									data-splitout="none" 
									data-responsive_offset="on" 
	
									style="z-index: 7; white-space: nowrap; ">see more
								</div>
								
						</li>
						
						<!-- SLIDE  -->
						
					</ul>				
				</div><!-- END REVOLUTION SLIDER -->
				</div><!-- END  -->
			</div><!-- END REVOLUTION SLIDER WRAPPER -->	
		</article>
	</section>
<!--Slider end-->
<!--Slider form start-->
<div class="ed_form_box">
<div class="container">
	<div class="ed_search_form">
		<form class="form-inline">
		  <div class="form-group">
			<input type="text" placeholder="Course Name" class="form-control" id="course">
		  </div>
		  <div class="form-group">
			<input type="text" placeholder="Location" class="form-control" id="location">
		  </div>
		  <div class="form-group">
			<input type="text" placeholder="Language" class="form-control" id="language">
		  </div>
		  <div class="form-group">
			<input type="text" placeholder="Type" class="form-control" id="type">
		  </div>
		  <div class="form-group">
		  <button type="button" class="btn ed_btn pull-right ed_orange">search</button>
		  </div>
		</form>
	</div>
</div>
</div>
<!--Slider form end-->
</div>