{% extends "layouts/instructor.html" %}

{% block content %}

<div class="row" style="margin-top: 30px; margin-bottom: 40px;">
	<div class="col-md-12" style="text-align: center;">
		<h2>{{data['question'].question}}</h2>		
	</div>

	<div class="col-md-12">
		<h3>Course: {{data['course']['title']}}</h3>
		<h3>Lesson: {{data['lesson']['title']}}</h3>
		<p>There has been no response to this question</p>

		<div class="col-md-6" style="margin-top: 40px; margin-bottom: 40px;">
			<p>Respond to this Question</p>
			<form>
				<textarea class="form-control"></textarea>
				<input type="submit" name="submit" class="form-control" value="Submit" />
			</form>
		</div>
		

	</div>
</div>

{% endblock %}