<div class="tab-pane" id="notification">
						<div class="ed_dashboard_inner_tab">
							<div role="tabpanel">
								<!-- Nav tabs -->
								<ul class="nav nav-tabs" role="tablist">
									<li role="presentation" class="active"><a href="#unread" aria-controls="unread" role="tab" data-toggle="tab">unread</a></li>
									<li role="presentation"><a href="#read" aria-controls="read" role="tab" data-toggle="tab">read</a></li>
								</ul>
								<!-- Tab panes -->
								<div class="tab-content">
									<div role="tabpanel" class="tab-pane active" id="unread">
									<div class="ed_dashboard_inner_tab">
										<h2>you have no unread notifications</h2>
									</div>
									</div>
									<div role="tabpanel" class="tab-pane" id="read">
									<div class="ed_dashboard_inner_tab">
										<h2>you have no notifications</h2>
									</div>
									</div>
								</div>
							</div><!--tab End-->
						</div>
					</div>