{% extends "layout.html" %}

{% block content %}
	<h2 class="pull-right">Welcome {{ session['username'] }}</h2>

	<!--Our expertise section one start -->
<div class="ed_transprentbg ed_toppadder100">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="ed_heading_top ed_toppadder50">
					<h3>Choose how you want to learn </h3>
				</div>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="ed_populer_areas_slider">
					<div class="owl-carousel owl-theme">
						<div class="item">
							<div class="ed_item_img">
								<img src="http://placehold.it/263X263" alt="item1" class="img-responsive">
							</div>
							<div class="ed_item_description">
								<h4>Vocational Counselling</h4>
								<p>Vocational counselling is a career focused on helping people who need to find a job. Pretty obvious, obvious right?</p>
								<a href="#" class="ed_getinvolved">get involved <i class="fa fa-long-arrow-right"></i></a>
							</div>
						</div>
						<div class="item">
							<div class="ed_item_img">
								<img src="http://placehold.it/263X263" alt="item2" class="img-responsive">
							</div>
							<div class="ed_item_description">
								<h4>Elementary School</h4>
								<p>Vocational counselling is a career focused on helping people who need to find a job. Pretty obvious, obvious right?</p>
								<a href="#" class="ed_getinvolved">get involved <i class="fa fa-long-arrow-right"></i></a>
							</div>
						</div>
						<div class="item">
							<div class="ed_item_img">
								<img src="http://placehold.it/263X263" alt="item3" class="img-responsive">
							</div>
							<div class="ed_item_description">
								<h4>Student Guidance</h4>
								<p>Vocational counselling is a career focused on helping people who need to find a job. Pretty obvious, obvious right?</p>
								<a href="#" class="ed_getinvolved">get involved <i class="fa fa-long-arrow-right"></i></a>
							</div>
						</div>
						<div class="item">
							<div class="ed_item_img">
								<img src="http://placehold.it/263X263" alt="item4" class="img-responsive">
							</div>
							<div class="ed_item_description">
								<h4>Psychology Tests</h4>
								<p>Vocational counselling is a career focused on helping people who need to find a job. Pretty obvious, obvious right?</p>
								<a href="#" class="ed_getinvolved">get involved <i class="fa fa-long-arrow-right"></i></a>
							</div>
						</div>
						<div class="item">
							<div class="ed_item_img">
								<img src="http://placehold.it/263X263" alt="item1" class="img-responsive">
							</div>
							<div class="ed_item_description">
								<h4>individual attention</h4>
								<p>Vocational counselling is a career focused on helping people who need to find a job. Pretty obvious, obvious right?</p>
								<a href="#" class="ed_getinvolved">get involved <i class="fa fa-long-arrow-right"></i></a>
							</div>
						</div>
						<div class="item">
							<div class="ed_item_img">
								<img src="http://placehold.it/263X263" alt="item2" class="img-responsive">
							</div>
							<div class="ed_item_description">
								<h4>Peer Recognition</h4>
								<p>Vocational counselling is a career focused on helping people who need to find a job. Pretty obvious, obvious right?</p>
								<a href="#" class="ed_getinvolved">get involved <i class="fa fa-long-arrow-right"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
    </div><!-- /.container -->
</div>
<!--Our expertise section one end -->

<!--skill section start -->

<div class="ed_graysection ed_toppadder90 ed_bottompadder90">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
				<div class="skill_section">
					<h4><a href="#">See our best skills</a></h4>
					<p>We excell in multiple areas, but there are some in which we are absolutely rocking.</p>
					<span><i class="fa fa-tachometer"></i></span>
				</div>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
				<div class="skill_section">
					<h4><a href="#">Recieve a sign-in sheet <i class="fa fa-long-arrow-right"></i></a></h4>
					<p>Not a member yet? You need to download this sign-in sheet and make sure you become one.</p>
					<span><i class="fa fa-file-text-o"></i></span>
				</div>
			</div>
        </div>
	</div>
</div>
<!--skill section end -->

<!--video_section Section three start -->
<div class="ed_parallax_section">
<div class="ed_img_overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-12">
				<div class="ed_video_section">
					<div class="embed-responsive embed-responsive-16by9">
						<div class="ed_video">
							<img src="http://placehold.it/544X334" style="cursor:pointer"  alt="1" />
							<div class="ed_img_overlay">
								<a href="#"><i class="fa fa-chevron-right"></i></a>
							</div>
						</div>
						<iframe id="educo_video" class="embed-responsive-item" src="https://www.youtube.com/embed/8mb-0qbq984" allowfullscreen></iframe>
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-12">
				<div class="ed_video_section_discription">
					<h4>Daily life of studying at Educo</h4>
					<p>Nam cursus imperdiet elit. Fusce sollicitudin eget nulla in condimentum. Nullam dignissim id magna non tempus. Vivamus molestie nulla nec pharetra dignissim. Suspendisse auctor nisi et neque vehicula pulvinar. Quisque quis tempus magna. Quisque sed luctus nunc sapien.</p>
					<span><a href="#" class="btn ed_btn ed_orange">see more</a></span>
				</div>
			</div>
		</div>
	</div>
</div>
<!--video_section Section three end -->

<!-- Most recomended Courses Section four start -->
<div class="ed_transprentbg ed_toppadder80 ed_bottompadder80">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="ed_heading_top ed_bottompadder80">
					<h3>Learner recommended courses</h3>
				</div>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="ed_mostrecomeded_course_slider ed_mostrecomededcourseslider">
					<div id="owl-demo3" class="owl-carousel owl-theme">
						<div class="item">
							<div class="ed_item_img">
								<img src="http://placehold.it/263X263" alt="item1" class="img-responsive">
							</div>
							<div class="ed_item_description ed_most_recomended_data"
									<h4><a href="course_single.html">Project Learning </a><span>25(pounds)</span></h4>
									<div class="row">
										<div class="ed_rating">
											<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
												<div class="row">
													<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
														<div class="ed_stardiv">
															<div class="star-rating"><span style="width:80%;"></span></div>
														</div>
													</div>
													<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
														<div class="row">
															<p>(5 review)</p>
														</div>
													</div>
												</div>
											</div>
											<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
												<div class="ed_views">
												<i class="fa fa-users"></i>
												<span>35 students</span>
												</div>
											</div>
										</div>
									</div>
									<div class="course_detail">
										<div class="course_faculty">
											<img src="http://placehold.it/32X32" alt=""> <a href="instructor_dashboard.html">Joanna Simpson</a>
										</div>
									</div>
									<p>Project-Based Learning is a flexible tool for framing given academic standards into curriculum flexible tool for framing.</p>
									<a href="course_single.html" class="ed_getinvolved">get involved <i class="fa fa-long-arrow-right"></i></a>
							</div>
						</div>
						<div class="item">
							<div class="ed_item_img">
								<img src="http://placehold.it/263X263" alt="item1" class="img-responsive">
							</div>
							<div class="ed_item_description ed_most_recomended_data">
									<h4><a href="course_single.html">Billing Seminar</a><span>free</span></h4>
									<div class="row">
										<div class="ed_rating">
											<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
												<div class="row">
													<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
														<div class="ed_stardiv">
															<div class="star-rating"><span style="width:80%;"></span></div>
														</div>
													</div>
													<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
														<div class="row">
															<p>(10 review)</p>
														</div>
													</div>
												</div>
											</div>
											<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
												<div class="ed_views">
												<i class="fa fa-users"></i>
												<span>55 students</span>
												</div>
											</div>
										</div>
									</div>
									<div class="course_detail">
										<div class="course_faculty">
											<img src="http://placehold.it/32X32" alt=""> <a href="instructor_dashboard.html">DESPERATE SCOTT</a>
										</div>
									</div>
									<p>Project-Based Learning is a flexible tool for framing given academic standards into curriculum flexible tool for framing.</p>
									<a href="course_single.html" class="ed_getinvolved">get involved <i class="fa fa-long-arrow-right"></i></a>
							</div>
						</div>
						<div class="item">
							<div class="ed_item_img">
								<img src="http://placehold.it/263X263" alt="item1" class="img-responsive">
							</div>
							<div class="ed_item_description ed_most_recomended_data">
									<h4><a href="course_single.html">User Experience Jam </a><span>38(pounds)</span></h4>
									<div class="row">
										<div class="ed_rating">
											<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
												<div class="row">
													<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
														<div class="ed_stardiv">
															<div class="star-rating"><span style="width:80%;"></span></div>
														</div>
													</div>
													<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
														<div class="row">
															<p>(9 review)</p>
														</div>
													</div>
												</div>
											</div>
											<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
												<div class="ed_views">
												<i class="fa fa-users"></i>
												<span>60 students</span>
												</div>
											</div>
										</div>
									</div>
									<div class="course_detail">
										<div class="course_faculty">
											<img src="http://placehold.it/32X32" alt=""> <a href="instructor_dashboard.html">MIKE TUSSLE</a>
										</div>
									</div>
									<p>Project-Based Learning is a flexible tool for framing given academic standards into curriculum flexible tool for framing.</p>
									<a href="course_single.html" class="ed_getinvolved">get involved <i class="fa fa-long-arrow-right"></i></a>
							</div>
						</div>
						<div class="item">
							<div class="ed_item_img">
								<img src="http://placehold.it/263X263" alt="item1" class="img-responsive">
							</div>
							<div class="ed_item_description ed_most_recomended_data">
									<h4><a href="course_single.html">Girls On Rails </a><span>free</span></h4>
									<div class="row">
										<div class="ed_rating">
											<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
												<div class="row">
													<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
														<div class="ed_stardiv">
															<div class="star-rating"><span style="width:80%;"></span></div>
														</div>
													</div>
													<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
														<div class="row">
															<p>(8 review)</p>
														</div>
													</div>
												</div>
											</div>
											<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
												<div class="ed_views">
												<i class="fa fa-users"></i>
												<span>45 students</span>
												</div>
											</div>
										</div>
									</div>
									<div class="course_detail">
										<div class="course_faculty">
											<img src="http://placehold.it/32X32" alt=""> <a href="instructor_dashboard.html"> JAMES MARCO</a>
										</div>
									</div>
									<p>Project-Based Learning is a flexible tool for framing given academic standards into curriculum flexible tool for framing.</p>
									<a href="course_single.html" class="ed_getinvolved">get involved <i class="fa fa-long-arrow-right"></i></a>
							</div>
						</div>
						<div class="item">
							<div class="ed_item_img">
								<img src="http://placehold.it/263X263" alt="item1" class="img-responsive">
							</div>
							<div class="ed_item_description ed_most_recomended_data">
									<h4><a href="course_single.html">Coding Seminar</a><span>free</span></h4>
									<div class="row">
										<div class="ed_rating">
											<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
												<div class="row">
													<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
														<div class="ed_stardiv">
															<div class="star-rating"><span style="width:80%;"></span></div>
														</div>
													</div>
													<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
														<div class="row">
															<p>(7 review)</p>
														</div>
													</div>
												</div>
											</div>
											<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
												<div class="ed_views">
												<i class="fa fa-users"></i>
												<span>31 students</span>
												</div>
											</div>
										</div>
									</div>
									<div class="course_detail">
										<div class="course_faculty">
											<img src="http://placehold.it/32X32" alt=""> <a href="instructor_dashboard.html"> ANDRE HOUSE</a>
										</div>
									</div>
									<p>Project-Based Learning is a flexible tool for framing given academic standards into curriculum flexible tool for framing.</p>
									<a href="course_single.html" class="ed_getinvolved">get involved <i class="fa fa-long-arrow-right"></i></a>
							</div>
						</div>
						<div class="item">
							<div class="ed_item_img">
								<img src="http://placehold.it/263X263" alt="item1" class="img-responsive">
							</div>
							<div class="ed_item_description ed_most_recomended_data">
									<h4><a href="course_single.html">Javascript Campus</a><span>60(pounds)</span></h4>
									<div class="row">
										<div class="ed_rating">
											<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
												<div class="row">
													<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
														<div class="ed_stardiv">
															<div class="star-rating"><span style="width:80%;"></span></div>
														</div>
													</div>
													<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
														<div class="row">
															<p>(1 review)</p>
														</div>
													</div>
												</div>
											</div>
											<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
												<div class="ed_views">
												<i class="fa fa-users"></i>
												<span>18 students</span>
												</div>
											</div>
										</div>
									</div>
									<div class="course_detail">
										<div class="course_faculty">
											<img src="http://placehold.it/32X32" alt=""> <a href="instructor_dashboard.html"> FRANK PASCAL</a>
										</div>
									</div>
									<p>Project-Based Learning is a flexible tool for framing given academic standards into curriculum flexible tool for framing.</p>
									<a href="course_single.html" class="ed_getinvolved">get involved <i class="fa fa-long-arrow-right"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
    </div><!-- /.container -->
</div>
<!--Most recomended Courses Section four end -->

<!--Latest news start -->
<div class="ed_graysection ed_toppadder80 ed_bottompadder80">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ed_bottompadder80">
				<div class="ed_heading_top">
					<h3>Latest News</h3>
				</div>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="ed_latest_news_slider">
					<div id="owl-demo2" class="owl-carousel owl-theme">
						<div class="item">
							<div class="ed_item_description">
								<h4>Officially the best</h4>
								<p>Just in case there is anyone looking for it, new expertise to our knowledge base to make you happy as well.</p>
								<a href="">read more <i class="fa fa-long-arrow-right"></i></a>
							</div>
						</div>
						<div class="item">
							<div class="ed_item_description">
								<h4>Redesigned website</h4>
								<p>Just in case there is anyone looking for it, new expertise to our knowledge base to make you happy as well.</p>
								<a href="">read more <i class="fa fa-long-arrow-right"></i></a>
							</div>
						</div>
						<div class="item">
							<div class="ed_item_description">
								<h4>We are launching</h4>
								<p>Just in case there is anyone looking for it, new expertise to our knowledge base to make you happy as well.</p>
								<a href="">read more <i class="fa fa-long-arrow-right"></i></a>
							</div>
						</div>
						<div class="item">
							<div class="ed_item_description">
								<h4>Officially the best</h4>
								<p>Just in case there is anyone looking for it, new expertise to our knowledge base to make you happy as well.</p>
								<a href="">read more <i class="fa fa-long-arrow-right"></i></a>
							</div>
						</div>
						<div class="item">
							<div class="ed_item_description">
								<h4>Redesigned website</h4>
								<p>Just in case there is anyone looking for it, new expertise to our knowledge base to make you happy as well.</p>
								<a href="">read more <i class="fa fa-long-arrow-right"></i></a>
							</div>
						</div> 
					</div>
				</div>
			</div>
		</div>
    </div><!-- /.container -->
</div>
<!--Latest news end -->
			{% endblock %}